a{
    text-decoration: none;
    color:white;
}

.active{
    border-bottom: 2px solid white;
}

b{
    margin-left:30px;
    font-size:22px;
}

body{
    margin:0;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button,input[type="button"]{
    padding:10px 20px 10px 20px;
    background-color: rgb(61, 126, 248);
    color:white;
    border:none;
}

footer{
    padding:3px;
    text-align: center; 
    background-color: cornflowerblue;
    color:white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size:14px;
}

header{
    background-color: cornflowerblue;
    color:white;
    height:30px;
    padding:10px;
}

nav{
    display: inline-block;
    float:right;
}

